# Data modelling on Bike Sharing data in London

Data aquired from: https://www.kaggle.com/edenau/london-bike-sharing-system-data  
Data project initiated: 25/01/2019  
Author: Sedar Olmez

Data modelling:  
    GDS1: Data Gathering, Preparation and Exploration.  
    GDS2: Data Representation and Transformation.  
    GDS3: Computing with Data.   
    GDS4: Data Visualisation and Presentation.   
    GDS5: Data Modelling.   
    GDS6: Science about Data Science.

Assessment:
![Assessment](assessment.png)

In [36]:
# Libraries
from __future__ import print_function
import matplotlib.pyplot as plt
import seaborn as sea
import pandas as pd
import numpy as np
from datetime import date
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import RANSACRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor as DTR

In [37]:
%%time
# Load up the journeys.csv dataset into dataframes
dataframe_journeys = pd.read_csv('data/journeys.csv')
dataframe_journeys.columns = ['journey duration', 'journey ID', 'End date', 'End month', 'End year', 
                   'End hour', 'End minute', 'End station ID', 'Start date', 'Start month', 'Start year', 
                   'Start hour', 'Start minute', 'Start station ID']
dataframe_journeys.dropna()

CPU times: user 3.03 s, sys: 373 ms, total: 3.41 s
Wall time: 1.8 s

In [38]:
dataframe_journeys

,journey duration,journey ID,End date,End month,End year,End hour,End minute,End station ID,Start date,Start month,Start year,Start hour,Start minute,Start station ID
0,2040.0,953,19,9,17,18,0,478,19,9,17,17,26,251
1,1800.0,12581,19,9,17,15,21,122,19,9,17,14,51,550
2,1140.0,1159,15,9,17,17,1,639,15,9,17,16,42,212
3,420.0,2375,14,9,17,12,16,755,14,9,17,12,9,163
4,1200.0,14659,13,9,17,19,33,605,13,9,17,19,13,36
5,1320.0,2351,14,9,17,14,53,514,14,9,17,14,31,589
6,720.0,7252,17,9,17,17,12,484,17,9,17,17,0,478
7,720.0,9782,17,9,17,17,12,484,17,9,17,17,0,478
8,540.0,13500,15,9,17,13,42,367,15,9,17,13,33,153
9,960.0,11205,15,9,17,16,3,350,15,9,17,15,47,396
10,420.0,5457,18,9,17,8,53,298,18,9,17,8,46,732
11,1620.0,3070,18,9,17,17,34,796,18,9,17,17,7,818
12,780.0,14816,15,9,17,17,38,197,15,9,17,17,25,298
13,960.0,14558,14,9,17,15,58,154,14,9,17,15,42,298
14,960.0,5796,15,9,17,9,8,298,15,9,17,8,52,374
15,900.0,9923,13,9,17,8,32,298,13,9,17,8,17,154
16,480.0,1916,15,9,17,15,0,186,15,9,17,14,52,201
17,1320.0,9528,14,9,17,13,14,176,14,9,17,12,52,201
18,720.0,11403,15,9,17,19,42,201,15,9,17,19,30,224
19,600.0,482,14,9,17,15,13,201,14,9,17,15,3,176
20,660.0,13331,19,9,17,14,12,201,19,9,17,14,1,105
21,540.0,5607,19,9,17,11,9,105,19,9,17,11,0,201
22,480.0,9642,13,9,17,15,31,194,13,9,17,15,23,156
23,480.0,12668,13,9,17,15,31,194,13,9,17,15,23,156
24,360.0,4726,16,9,17,17,55,515,16,9,17,17,49,652
25,420.0,13350,16,9,17,15,12,652,16,9,17,15,5,515
26,1080.0,13516,17,9,17,15,32,129,17,9,17,15,14,67
27,540.0,10647,17,9,17,12,58,703,17,9,17,12,49,645
28,900.0,2254,19,9,17,8,48,368,19,9,17,8,33,224
29,660.0,8907,13,9,17,8,42,368,13,9,17,8,31,307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542814,814.0,8320,8,8,17,0,7,11,7,8,17,23,53,107
1542815,90.0,4358,7,8,17,23,54,574,7,8,17,23,53,42
1542816,1147.0,14083,8,8,17,0,13,511,7,8,17,23,54,22
1542817,1729.0,14961,8,8,17,0,23,615,7,8,17,23,54,727
1542818,1867.0,5122,8,8,17,0,25,602,7,8,17,23,54,541
1542819,838.0,5607,8,8,17,0,8,411,7,8,17,23,54,227
1542820,712.0,6315,8,8,17,0,6,74,7,8,17,23,54,252
1542821,580.0,13060,8,8,17,0,4,74,7,8,17,23,54,792
1542822,1732.0,13285,8,8,17,0,24,460,7,8,17,23,55,460
1542823,584.0,10007,8,8,17,0,5,357,7,8,17,23,55,14
1542824,205.0,6659,7,8,17,23,58,512,7,8,17,23,55,446
1542825,28.0,5862,7,8,17,23,55,222,7,8,17,23,55,222
1542826,2986.0,4524,8,8,17,0,45,373,7,8,17,23,55,248
1542827,1766.0,4925,8,8,17,0,24,460,7,8,17,23,55,460
1542828,2966.0,4531,8,8,17,0,45,373,7,8,17,23,56,248
1542829,934.0,3229,8,8,17,0,11,491,7,8,17,23,56,719
1542830,1512.0,4623,8,8,17,0,22,792,7,8,17,23,57,347
1542831,1030.0,5153,8,8,17,0,14,455,7,8,17,23,57,480
1542832,879.0,1710,8,8,17,0,12,163,7,8,17,23,57,225
1542833,12551.0,10411,8,8,17,3,26,273,7,8,17,23,57,49
1542834,856.0,11034,8,8,17,0,11,491,7,8,17,23,57,719
1542835,1138.0,13746,8,8,17,0,16,504,7,8,17,23,57,480
1542836,406.0,14670,8,8,17,0,3,815,7,8,17,23,57,229
1542837,1495.0,13873,8,8,17,0,23,792,7,8,17,23,58,347
1542838,1475.0,8785,8,8,17,0,23,792,7,8,17,23,58,347
1542839,270.0,5296,8,8,17,0,2,32,7,8,17,23,58,42
1542840,911.0,12348,8,8,17,0,13,625,7,8,17,23,58,222
1542841,447.0,8303,8,8,17,0,7,453,7,8,17,23,59,130
1542842,424.0,12038,8,8,17,0,6,405,7,8,17,23,59,755
1542843,307.0,4590,8,8,17,0,4,77,7,8,17,23,59,25

In [39]:
list(dataframe_journeys)

['journey duration',
 'journey ID',
 'End date',
 'End month',
 'End year',
 'End hour',
 'End minute',
 'End station ID',
 'Start date',
 'Start month',
 'Start year',
 'Start hour',
 'Start minute',
 'Start station ID']

In [40]:
dataframe_journeys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542844 entries, 0 to 1542843
Data columns (total 14 columns):
journey duration    1542844 non-null float64
journey ID          1542844 non-null int64
End date            1542844 non-null int64
End month           1542844 non-null int64
End year            1542844 non-null int64
End hour            1542844 non-null int64
End minute          1542844 non-null int64
End station ID      1542844 non-null int64
Start date          1542844 non-null int64
Start month         1542844 non-null int64
Start year          1542844 non-null int64
Start hour          1542844 non-null int64
Start minute        1542844 non-null int64
Start station ID    1542844 non-null int64
dtypes: float64(1), int64(13)
memory usage: 164.8 MB

In [41]:
#stations_dataframe = pd.read_csv('data/stations.csv')
#stations_dataframe.columns = ['Station ID', 'Capacity', 'Latitude', 'Longitude', 'Station Name']
#stations_dataframe

In [42]:
#stations_dataframe.dropna()

In [43]:
#list(stations_dataframe)

In [44]:
#stations_dataframe.info()

In [45]:
dataframe_journeys.head()

,journey duration,journey ID,End date,End month,End year,End hour,End minute,End station ID,Start date,Start month,Start year,Start hour,Start minute,Start station ID
0,2040.0,953,19,9,17,18,0,478,19,9,17,17,26,251
1,1800.0,12581,19,9,17,15,21,122,19,9,17,14,51,550
2,1140.0,1159,15,9,17,17,1,639,15,9,17,16,42,212
3,420.0,2375,14,9,17,12,16,755,14,9,17,12,9,163
4,1200.0,14659,13,9,17,19,33,605,13,9,17,19,13,36

In [57]:
# Function developed to parse the date segments into a new column.
def date_parser(year, month, day, new_column_name):
    y = dataframe_journeys[year].astype(str)     
    m = dataframe_journeys[month].fillna(1).astype(int).astype(str)
    d = dataframe_journeys[day].fillna(1).astype(int).astype(str)
    x = y +' '+ m +' '+ d
    dataframe_journeys[new_column_name] = pd.to_datetime(x)

In [53]:
# We use the newly created date_parser method to create a new end date column.
date_parser('End year', 'End month', 'End date', 'End Date')

In [54]:
# We use the newly created date_parser method to create a new start date column.
date_parser('Start year', 'Start month', 'Start date', 'Start Date')

In [55]:
dataframe_journeys.head()

,journey duration,journey ID,End date,End month,End year,End hour,End minute,End station ID,Start date,Start month,Start year,Start hour,Start minute,Start station ID,End Date,Start Date
0,2040.0,953,19,9,17,18,0,478,19,9,17,17,26,251,2019-09-17,2019-09-17
1,1800.0,12581,19,9,17,15,21,122,19,9,17,14,51,550,2019-09-17,2019-09-17
2,1140.0,1159,15,9,17,17,1,639,15,9,17,16,42,212,2015-09-17,2015-09-17
3,420.0,2375,14,9,17,12,16,755,14,9,17,12,9,163,2014-09-17,2014-09-17
4,1200.0,14659,13,9,17,19,33,605,13,9,17,19,13,36,2013-09-17,2013-09-17

In [58]:
columns_to_drop = ['End date', 'End month', 'End year', 'Start date', 'Start month', 'Start year']
dataframe_journeys.drop(columns_to_drop, axis = 1)

,journey duration,journey ID,End hour,End minute,End station ID,Start hour,Start minute,Start station ID,End Date,Start Date
0,2040.0,953,18,0,478,17,26,251,2019-09-17,2019-09-17
1,1800.0,12581,15,21,122,14,51,550,2019-09-17,2019-09-17
2,1140.0,1159,17,1,639,16,42,212,2015-09-17,2015-09-17
3,420.0,2375,12,16,755,12,9,163,2014-09-17,2014-09-17
4,1200.0,14659,19,33,605,19,13,36,2013-09-17,2013-09-17
5,1320.0,2351,14,53,514,14,31,589,2014-09-17,2014-09-17
6,720.0,7252,17,12,484,17,0,478,2017-09-17,2017-09-17
7,720.0,9782,17,12,484,17,0,478,2017-09-17,2017-09-17
8,540.0,13500,13,42,367,13,33,153,2015-09-17,2015-09-17
9,960.0,11205,16,3,350,15,47,396,2015-09-17,2015-09-17
10,420.0,5457,8,53,298,8,46,732,2018-09-17,2018-09-17
11,1620.0,3070,17,34,796,17,7,818,2018-09-17,2018-09-17
12,780.0,14816,17,38,197,17,25,298,2015-09-17,2015-09-17
13,960.0,14558,15,58,154,15,42,298,2014-09-17,2014-09-17
14,960.0,5796,9,8,298,8,52,374,2015-09-17,2015-09-17
15,900.0,9923,8,32,298,8,17,154,2013-09-17,2013-09-17
16,480.0,1916,15,0,186,14,52,201,2015-09-17,2015-09-17
17,1320.0,9528,13,14,176,12,52,201,2014-09-17,2014-09-17
18,720.0,11403,19,42,201,19,30,224,2015-09-17,2015-09-17
19,600.0,482,15,13,201,15,3,176,2014-09-17,2014-09-17
20,660.0,13331,14,12,201,14,1,105,2019-09-17,2019-09-17
21,540.0,5607,11,9,105,11,0,201,2019-09-17,2019-09-17
22,480.0,9642,15,31,194,15,23,156,2013-09-17,2013-09-17
23,480.0,12668,15,31,194,15,23,156,2013-09-17,2013-09-17
24,360.0,4726,17,55,515,17,49,652,2016-09-17,2016-09-17
25,420.0,13350,15,12,652,15,5,515,2016-09-17,2016-09-17
26,1080.0,13516,15,32,129,15,14,67,2017-09-17,2017-09-17
27,540.0,10647,12,58,703,12,49,645,2017-09-17,2017-09-17
28,900.0,2254,8,48,368,8,33,224,2019-09-17,2019-09-17
29,660.0,8907,8,42,368,8,31,307,2013-09-17,2013-09-17
...,...,...,...,...,...,...,...,...,...,...
1542814,814.0,8320,0,7,11,23,53,107,2008-08-17,2007-08-17
1542815,90.0,4358,23,54,574,23,53,42,2007-08-17,2007-08-17
1542816,1147.0,14083,0,13,511,23,54,22,2008-08-17,2007-08-17
1542817,1729.0,14961,0,23,615,23,54,727,2008-08-17,2007-08-17
1542818,1867.0,5122,0,25,602,23,54,541,2008-08-17,2007-08-17
1542819,838.0,5607,0,8,411,23,54,227,2008-08-17,2007-08-17
1542820,712.0,6315,0,6,74,23,54,252,2008-08-17,2007-08-17
1542821,580.0,13060,0,4,74,23,54,792,2008-08-17,2007-08-17
1542822,1732.0,13285,0,24,460,23,55,460,2008-08-17,2007-08-17
1542823,584.0,10007,0,5,357,23,55,14,2008-08-17,2007-08-17
1542824,205.0,6659,23,58,512,23,55,446,2007-08-17,2007-08-17
1542825,28.0,5862,23,55,222,23,55,222,2007-08-17,2007-08-17
1542826,2986.0,4524,0,45,373,23,55,248,2008-08-17,2007-08-17
1542827,1766.0,4925,0,24,460,23,55,460,2008-08-17,2007-08-17
1542828,2966.0,4531,0,45,373,23,56,248,2008-08-17,2007-08-17
1542829,934.0,3229,0,11,491,23,56,719,2008-08-17,2007-08-17
1542830,1512.0,4623,0,22,792,23,57,347,2008-08-17,2007-08-17
1542831,1030.0,5153,0,14,455,23,57,480,2008-08-17,2007-08-17
1542832,879.0,1710,0,12,163,23,57,225,2008-08-17,2007-08-17
1542833,12551.0,10411,3,26,273,23,57,49,2008-08-17,2007-08-17
1542834,856.0,11034,0,11,491,23,57,719,2008-08-17,2007-08-17
1542835,1138.0,13746,0,16,504,23,57,480,2008-08-17,2007-08-17
1542836,406.0,14670,0,3,815,23,57,229,2008-08-17,2007-08-17
1542837,1495.0,13873,0,23,792,23,58,347,2008-08-17,2007-08-17
1542838,1475.0,8785,0,23,792,23,58,347,2008-08-17,2007-08-17
1542839,270.0,5296,0,2,32,23,58,42,2008-08-17,2007-08-17
1542840,911.0,12348,0,13,625,23,58,222,2008-08-17,2007-08-17
1542841,447.0,8303,0,7,453,23,59,130,2008-08-17,2007-08-17
1542842,424.0,12038,0,6,405,23,59,755,2008-08-17,2007-08-17
1542843,307.0,4590,0,4,77,23,59,25,2008-08-17,2007-08-17

In [46]:
#columns_of_interest = ['journey duration', '']
#flatui = ["#9b59b6", "#3498db", "#95a5a6", "#e74c3c", "#34495e", "#2ecc71"]
#sea.set_palette(flatui)
#sea.pairplot(dataframe_journeys)
#plt.tight_layout()
#plt.show()