# Data modelling on Bike Sharing data in London

Data aquired from: https://www.kaggle.com/edenau/london-bike-sharing-system-data  
Data project initiated: 25/01/2019  
Author: Sedar Olmez

Data modelling:  
    GDS1: Data Gathering, Preparation and Exploration.  
    GDS2: Data Representation and Transformation.  
    GDS3: Computing with Data.   
    GDS4: Data Visualisation and Presentation.   
    GDS5: Data Modelling.   
    GDS6: Science about Data Science.

Assessment:
![Assessment](assessment.png)

In [2]:
# Libraries
from __future__ import print_function
import matplotlib.pyplot as plt
import seaborn as sea
import pandas as pd
import numpy as np
from datetime import date
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import RANSACRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor as DTR

## Old dataset

In [4]:
%%time
# Load up the journeys.csv dataset into dataframes
dataframe_journeys = pd.read_csv('data/Walking-Cycling.csv')
dataframe_journeys.columns = ['LA code', 'Local Authority', 'Year', 'Frequency', 'Walking_%', 'Cycling_%']
dataframe_journeys.dropna()

CPU times: user 6.62 ms, sys: 1.89 ms, total: 8.52 ms
Wall time: 7.47 ms

In [5]:
dataframe_journeys.head()

     LA code       Local Authority     Year     Frequency  Walking_% Cycling_%
0  E09000001        City of London  2010/11  1x per month         78        30
1  E09000002  Barking and Dagenham  2010/11  1x per month         60         8
2  E09000003                Barnet  2010/11  1x per month         65        10
3  E09000004                Bexley  2010/11  1x per month         65        11
4  E09000005                 Brent  2010/11  1x per month         62        14

In [6]:
list(dataframe_journeys)

['LA code', 'Local Authority', 'Year', 'Frequency', 'Walking_%', 'Cycling_%']

In [16]:
# We will now convert the Local Authority column to string
dataframe_journeys['Local Authority'] = dataframe_journeys['Local Authority'].astype('|S')

In [17]:
dataframe_journeys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204 entries, 0 to 1203
Data columns (total 6 columns):
LA code            1204 non-null object
Local Authority    1204 non-null object
Year               1204 non-null object
Frequency          1204 non-null object
Walking_%          1204 non-null int64
Cycling_%          1204 non-null object
dtypes: int64(1), object(5)
memory usage: 56.5+ KB

#### In Pandas, dtype(obj) == python.dtype(str) therefore we set the string to the maximum bytes of the longest string stored by using

```.astype(|S)```

In [ ]:
# We must now convert both the Walking_% and Cycling_% to float as this would make regression more accurate.
dataframe_journeys[]

## Dataset cleaned and optimised