# Data modelling on Bike Sharing data in London

Data aquired from: https://www.kaggle.com/edenau/london-bike-sharing-system-data  
Data project initiated: 25/01/2019  
Author: Sedar Olmez

Data modelling:  
    GDS1: Data Gathering, Preparation and Exploration.  
    GDS2: Data Representation and Transformation.  
    GDS3: Computing with Data.   
    GDS4: Data Visualisation and Presentation.   
    GDS5: Data Modelling.   
    GDS6: Science about Data Science.

Assessment:
![Assessment](assessment.png)

In [44]:
# Libraries
from __future__ import print_function
import matplotlib.pyplot as plt
import seaborn as sea
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import RANSACRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor as DTR

In [45]:
%%time
# Load up the journeys.csv data into dataframes
dataframe_journeys = pd.read_csv('data/journeys.csv')
dataframe_journeys.columns = ['journey duration', 'journey ID', 'End date', 'End month', 'End year', 
                   'End hour', 'End minute', 'End station ID', 'Start date', 'Start month', 'Start year', 
                   'Start hour', 'Start minute', 'Start station ID']
dataframe_journeys.dropna()

CPU times: user 3.01 s, sys: 420 ms, total: 3.43 s
Wall time: 1.82 s

In [46]:
dataframe_journeys

,journey duration,journey ID,End date,End month,End year,End hour,End minute,End station ID,Start date,Start month,Start year,Start hour,Start minute,Start station ID
0,2040.0,953,19,9,17,18,0,478,19,9,17,17,26,251
1,1800.0,12581,19,9,17,15,21,122,19,9,17,14,51,550
2,1140.0,1159,15,9,17,17,1,639,15,9,17,16,42,212
3,420.0,2375,14,9,17,12,16,755,14,9,17,12,9,163
4,1200.0,14659,13,9,17,19,33,605,13,9,17,19,13,36
5,1320.0,2351,14,9,17,14,53,514,14,9,17,14,31,589
6,720.0,7252,17,9,17,17,12,484,17,9,17,17,0,478
7,720.0,9782,17,9,17,17,12,484,17,9,17,17,0,478
8,540.0,13500,15,9,17,13,42,367,15,9,17,13,33,153
9,960.0,11205,15,9,17,16,3,350,15,9,17,15,47,396
10,420.0,5457,18,9,17,8,53,298,18,9,17,8,46,732
11,1620.0,3070,18,9,17,17,34,796,18,9,17,17,7,818
12,780.0,14816,15,9,17,17,38,197,15,9,17,17,25,298
13,960.0,14558,14,9,17,15,58,154,14,9,17,15,42,298
14,960.0,5796,15,9,17,9,8,298,15,9,17,8,52,374
15,900.0,9923,13,9,17,8,32,298,13,9,17,8,17,154
16,480.0,1916,15,9,17,15,0,186,15,9,17,14,52,201
17,1320.0,9528,14,9,17,13,14,176,14,9,17,12,52,201
18,720.0,11403,15,9,17,19,42,201,15,9,17,19,30,224
19,600.0,482,14,9,17,15,13,201,14,9,17,15,3,176
20,660.0,13331,19,9,17,14,12,201,19,9,17,14,1,105
21,540.0,5607,19,9,17,11,9,105,19,9,17,11,0,201
22,480.0,9642,13,9,17,15,31,194,13,9,17,15,23,156
23,480.0,12668,13,9,17,15,31,194,13,9,17,15,23,156
24,360.0,4726,16,9,17,17,55,515,16,9,17,17,49,652
25,420.0,13350,16,9,17,15,12,652,16,9,17,15,5,515
26,1080.0,13516,17,9,17,15,32,129,17,9,17,15,14,67
27,540.0,10647,17,9,17,12,58,703,17,9,17,12,49,645
28,900.0,2254,19,9,17,8,48,368,19,9,17,8,33,224
29,660.0,8907,13,9,17,8,42,368,13,9,17,8,31,307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542814,814.0,8320,8,8,17,0,7,11,7,8,17,23,53,107
1542815,90.0,4358,7,8,17,23,54,574,7,8,17,23,53,42
1542816,1147.0,14083,8,8,17,0,13,511,7,8,17,23,54,22
1542817,1729.0,14961,8,8,17,0,23,615,7,8,17,23,54,727
1542818,1867.0,5122,8,8,17,0,25,602,7,8,17,23,54,541
1542819,838.0,5607,8,8,17,0,8,411,7,8,17,23,54,227
1542820,712.0,6315,8,8,17,0,6,74,7,8,17,23,54,252
1542821,580.0,13060,8,8,17,0,4,74,7,8,17,23,54,792
1542822,1732.0,13285,8,8,17,0,24,460,7,8,17,23,55,460
1542823,584.0,10007,8,8,17,0,5,357,7,8,17,23,55,14
1542824,205.0,6659,7,8,17,23,58,512,7,8,17,23,55,446
1542825,28.0,5862,7,8,17,23,55,222,7,8,17,23,55,222
1542826,2986.0,4524,8,8,17,0,45,373,7,8,17,23,55,248
1542827,1766.0,4925,8,8,17,0,24,460,7,8,17,23,55,460
1542828,2966.0,4531,8,8,17,0,45,373,7,8,17,23,56,248
1542829,934.0,3229,8,8,17,0,11,491,7,8,17,23,56,719
1542830,1512.0,4623,8,8,17,0,22,792,7,8,17,23,57,347
1542831,1030.0,5153,8,8,17,0,14,455,7,8,17,23,57,480
1542832,879.0,1710,8,8,17,0,12,163,7,8,17,23,57,225
1542833,12551.0,10411,8,8,17,3,26,273,7,8,17,23,57,49
1542834,856.0,11034,8,8,17,0,11,491,7,8,17,23,57,719
1542835,1138.0,13746,8,8,17,0,16,504,7,8,17,23,57,480
1542836,406.0,14670,8,8,17,0,3,815,7,8,17,23,57,229
1542837,1495.0,13873,8,8,17,0,23,792,7,8,17,23,58,347
1542838,1475.0,8785,8,8,17,0,23,792,7,8,17,23,58,347
1542839,270.0,5296,8,8,17,0,2,32,7,8,17,23,58,42
1542840,911.0,12348,8,8,17,0,13,625,7,8,17,23,58,222
1542841,447.0,8303,8,8,17,0,7,453,7,8,17,23,59,130
1542842,424.0,12038,8,8,17,0,6,405,7,8,17,23,59,755
1542843,307.0,4590,8,8,17,0,4,77,7,8,17,23,59,25

In [47]:
list(dataframe_journeys)

['journey duration',
 'journey ID',
 'End date',
 'End month',
 'End year',
 'End hour',
 'End minute',
 'End station ID',
 'Start date',
 'Start month',
 'Start year',
 'Start hour',
 'Start minute',
 'Start station ID']

In [48]:
dataframe_journeys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542844 entries, 0 to 1542843
Data columns (total 14 columns):
journey duration    1542844 non-null float64
journey ID          1542844 non-null int64
End date            1542844 non-null int64
End month           1542844 non-null int64
End year            1542844 non-null int64
End hour            1542844 non-null int64
End minute          1542844 non-null int64
End station ID      1542844 non-null int64
Start date          1542844 non-null int64
Start month         1542844 non-null int64
Start year          1542844 non-null int64
Start hour          1542844 non-null int64
Start minute        1542844 non-null int64
Start station ID    1542844 non-null int64
dtypes: float64(1), int64(13)
memory usage: 164.8 MB

In [49]:
stations_dataframe = pd.read_csv('data/stations.csv')
stations_dataframe.columns = ['Station ID', 'Capacity', 'Latitude', 'Longitude', 'Station Name']
stations_dataframe

,Station ID,Capacity,Latitude,Longitude,Station Name
0,1,19,51.529163,-0.109970,"River Street , Clerkenwell"
1,2,37,51.499606,-0.197574,"Phillimore Gardens, Kensington"
2,3,32,51.521283,-0.084605,"Christopher Street, Liverpool Street"
3,4,23,51.530059,-0.120973,"St. Chad's Street, King's Cross"
4,5,27,51.493130,-0.156876,"Sedding Street, Sloane Square"
5,6,18,51.518117,-0.144228,"Broadcasting House, Marylebone"
6,7,16,51.534300,-0.168074,"Charlbert Street, St. John's Wood"
7,8,18,51.528341,-0.170134,"Lodge Road, St. John's Wood"
8,9,19,51.507385,-0.096440,"New Globe Walk, Bankside"
9,10,18,51.505974,-0.092754,"Park Street, Bankside"
10,11,24,51.523951,-0.122502,"Brunswick Square, Bloomsbury"
11,12,49,51.521680,-0.130431,"Malet Street, Bloomsbury"
12,13,21,51.519914,-0.136039,"Scala Street, Fitzrovia"
13,14,48,51.529943,-0.123616,"Belgrove Street , King's Cross"
14,15,26,51.517727,-0.127854,"Great Russell Street, Bloomsbury"
15,16,22,51.526357,-0.125979,"Cartwright Gardens , Bloomsbury"
16,17,26,51.521661,-0.109006,"Hatton Wall, Holborn"
17,18,27,51.514770,-0.122219,"Drury Lane, Covent Garden"
18,19,30,51.525050,-0.131161,"Taviton Street, Bloomsbury"
19,20,28,51.527736,-0.135273,"Drummond Street , Euston"
20,21,16,51.530078,-0.138846,"Hampstead Road (Cartmel), Euston"
21,22,19,51.522264,-0.114079,"Northington Street , Holborn"
22,23,16,51.519435,-0.119123,"Red Lion Square, Holborn"
23,24,35,51.519080,-0.124678,"British Museum, Bloomsbury"
24,25,32,51.528833,-0.132250,"Doric Way , Somers Town"
25,26,21,51.527280,-0.118295,"Ampton Street , Clerkenwell"
26,27,33,51.513821,-0.107927,"Bouverie Street, Temple"
27,28,19,51.523518,-0.143613,"Bolsover Street, Fitzrovia"
28,29,22,51.513735,-0.193487,"Hereford Road, Bayswater"
29,30,24,51.529154,-0.093421,"Windsor Terrace, Hoxton"
...,...,...,...,...,...
743,804,27,51.534667,-0.125078,"Good's Way, King's Cross"
744,805,27,51.520069,-0.206338,"Bevington Road, North Kensington"
745,806,27,51.537240,-0.124807,"Handyside Street, King's Cross"
746,807,24,51.521200,-0.208888,"Bevington Road West, North Kensington"
747,808,33,51.473486,-0.122555,"Stockwell Roundabout, Stockwell"
748,809,28,51.516277,-0.118272,"Lincoln's Inn Fields, Holborn"
749,810,30,51.506725,-0.098807,"Tate Modern, Bankside"
750,811,36,51.505703,-0.027772,"Westferry Circus, Canary Wharf"
751,812,28,51.548731,-0.022606,"Here East North, Queen Elizabeth Olympic Park"
752,813,37,51.487807,-0.122759,"New Spring Gardens Walk, Vauxhall"
753,814,30,51.471433,-0.123670,"Clapham Road, Lingham Street, Stockwell"
754,815,35,51.500089,-0.116628,"Lambeth Palace Road, Waterloo"
755,816,28,51.546532,-0.020597,"Here East South, Queen Elizabeth Olympic Park"
756,817,26,51.481335,-0.138212,"Riverlight South, Nine Elms"
757,818,13,51.503127,-0.078655,"One Tower Bridge, Bermondsey"
758,819,38,51.506210,-0.114842,"Belvedere Road 2, South Bank"
759,820,24,51.492807,-0.091938,"Victory Place, Walworth"
760,821,27,51.483507,-0.147714,"Battersea Power Station, Battersea Park"
761,826,28,51.496863,-0.142943,"Allington street, Westminster"
762,799,24,51.497698,-0.137598,"Kings Gate House, Westminster"
763,69,22,51.526236,-0.134407,"Euston Road, Euston"
764,83,21,51.509639,-0.131510,"Panton Street, West End"
765,187,24,51.492479,-0.178433,"Queen's Gate (South), South Kensington"
766,188,18,51.516517,-0.164393,"Nutford Place, Marylebone"
767,189,18,51.531666,-0.109914,"Claremont Square, Angel"
768,190,21,51.489975,-0.132845,"Rampayne Street, Pimlico"
769,194,56,51.504627,-0.091773,"Hop Exchange, The Borough"
770,195,30,51.507244,-0.106237,"Milroy Walk, South Bank"
771,196,17,51.503688,-0.098497,"Union Street, The Borough"
772,197,27,51.505569,-0.111606,"Stamford Street, South Bank"

In [50]:
stations_dataframe.dropna()

,Station ID,Capacity,Latitude,Longitude,Station Name
0,1,19,51.529163,-0.109970,"River Street , Clerkenwell"
1,2,37,51.499606,-0.197574,"Phillimore Gardens, Kensington"
2,3,32,51.521283,-0.084605,"Christopher Street, Liverpool Street"
3,4,23,51.530059,-0.120973,"St. Chad's Street, King's Cross"
4,5,27,51.493130,-0.156876,"Sedding Street, Sloane Square"
5,6,18,51.518117,-0.144228,"Broadcasting House, Marylebone"
6,7,16,51.534300,-0.168074,"Charlbert Street, St. John's Wood"
7,8,18,51.528341,-0.170134,"Lodge Road, St. John's Wood"
8,9,19,51.507385,-0.096440,"New Globe Walk, Bankside"
9,10,18,51.505974,-0.092754,"Park Street, Bankside"
10,11,24,51.523951,-0.122502,"Brunswick Square, Bloomsbury"
11,12,49,51.521680,-0.130431,"Malet Street, Bloomsbury"
12,13,21,51.519914,-0.136039,"Scala Street, Fitzrovia"
13,14,48,51.529943,-0.123616,"Belgrove Street , King's Cross"
14,15,26,51.517727,-0.127854,"Great Russell Street, Bloomsbury"
15,16,22,51.526357,-0.125979,"Cartwright Gardens , Bloomsbury"
16,17,26,51.521661,-0.109006,"Hatton Wall, Holborn"
17,18,27,51.514770,-0.122219,"Drury Lane, Covent Garden"
18,19,30,51.525050,-0.131161,"Taviton Street, Bloomsbury"
19,20,28,51.527736,-0.135273,"Drummond Street , Euston"
20,21,16,51.530078,-0.138846,"Hampstead Road (Cartmel), Euston"
21,22,19,51.522264,-0.114079,"Northington Street , Holborn"
22,23,16,51.519435,-0.119123,"Red Lion Square, Holborn"
23,24,35,51.519080,-0.124678,"British Museum, Bloomsbury"
24,25,32,51.528833,-0.132250,"Doric Way , Somers Town"
25,26,21,51.527280,-0.118295,"Ampton Street , Clerkenwell"
26,27,33,51.513821,-0.107927,"Bouverie Street, Temple"
27,28,19,51.523518,-0.143613,"Bolsover Street, Fitzrovia"
28,29,22,51.513735,-0.193487,"Hereford Road, Bayswater"
29,30,24,51.529154,-0.093421,"Windsor Terrace, Hoxton"
...,...,...,...,...,...
743,804,27,51.534667,-0.125078,"Good's Way, King's Cross"
744,805,27,51.520069,-0.206338,"Bevington Road, North Kensington"
745,806,27,51.537240,-0.124807,"Handyside Street, King's Cross"
746,807,24,51.521200,-0.208888,"Bevington Road West, North Kensington"
747,808,33,51.473486,-0.122555,"Stockwell Roundabout, Stockwell"
748,809,28,51.516277,-0.118272,"Lincoln's Inn Fields, Holborn"
749,810,30,51.506725,-0.098807,"Tate Modern, Bankside"
750,811,36,51.505703,-0.027772,"Westferry Circus, Canary Wharf"
751,812,28,51.548731,-0.022606,"Here East North, Queen Elizabeth Olympic Park"
752,813,37,51.487807,-0.122759,"New Spring Gardens Walk, Vauxhall"
753,814,30,51.471433,-0.123670,"Clapham Road, Lingham Street, Stockwell"
754,815,35,51.500089,-0.116628,"Lambeth Palace Road, Waterloo"
755,816,28,51.546532,-0.020597,"Here East South, Queen Elizabeth Olympic Park"
756,817,26,51.481335,-0.138212,"Riverlight South, Nine Elms"
757,818,13,51.503127,-0.078655,"One Tower Bridge, Bermondsey"
758,819,38,51.506210,-0.114842,"Belvedere Road 2, South Bank"
759,820,24,51.492807,-0.091938,"Victory Place, Walworth"
760,821,27,51.483507,-0.147714,"Battersea Power Station, Battersea Park"
761,826,28,51.496863,-0.142943,"Allington street, Westminster"
762,799,24,51.497698,-0.137598,"Kings Gate House, Westminster"
763,69,22,51.526236,-0.134407,"Euston Road, Euston"
764,83,21,51.509639,-0.131510,"Panton Street, West End"
765,187,24,51.492479,-0.178433,"Queen's Gate (South), South Kensington"
766,188,18,51.516517,-0.164393,"Nutford Place, Marylebone"
767,189,18,51.531666,-0.109914,"Claremont Square, Angel"
768,190,21,51.489975,-0.132845,"Rampayne Street, Pimlico"
769,194,56,51.504627,-0.091773,"Hop Exchange, The Borough"
770,195,30,51.507244,-0.106237,"Milroy Walk, South Bank"
771,196,17,51.503688,-0.098497,"Union Street, The Borough"
772,197,27,51.505569,-0.111606,"Stamford Street, South Bank"

In [51]:
list(stations_dataframe)

['Station ID', 'Capacity', 'Latitude', 'Longitude', 'Station Name']

In [52]:
stations_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 5 columns):
Station ID      773 non-null int64
Capacity        773 non-null int64
Latitude        773 non-null float64
Longitude       773 non-null float64
Station Name    773 non-null object
dtypes: float64(2), int64(2), object(1)
memory usage: 30.3+ KB

In [53]:
dataframe_journeys.head()

,journey duration,journey ID,End date,End month,End year,End hour,End minute,End station ID,Start date,Start month,Start year,Start hour,Start minute,Start station ID
0,2040.0,953,19,9,17,18,0,478,19,9,17,17,26,251
1,1800.0,12581,19,9,17,15,21,122,19,9,17,14,51,550
2,1140.0,1159,15,9,17,17,1,639,15,9,17,16,42,212
3,420.0,2375,14,9,17,12,16,755,14,9,17,12,9,163
4,1200.0,14659,13,9,17,19,33,605,13,9,17,19,13,36

In [61]:
# Convert date columns from float to integer
column_date = ['End date', 'End month', 'End year']
dataframe_journeys[column_date] = dataframe_journeys[column_date].astype(int)
dataframe_journeys.astype(int)

,journey duration,journey ID,End date,End month,End year,End hour,End minute,End station ID,Start date,Start month,Start year,Start hour,Start minute,Start station ID
0,2040,953,19,9,17,18,0,478,19,9,17,17,26,251
1,1800,12581,19,9,17,15,21,122,19,9,17,14,51,550
2,1140,1159,15,9,17,17,1,639,15,9,17,16,42,212
3,420,2375,14,9,17,12,16,755,14,9,17,12,9,163
4,1200,14659,13,9,17,19,33,605,13,9,17,19,13,36
5,1320,2351,14,9,17,14,53,514,14,9,17,14,31,589
6,720,7252,17,9,17,17,12,484,17,9,17,17,0,478
7,720,9782,17,9,17,17,12,484,17,9,17,17,0,478
8,540,13500,15,9,17,13,42,367,15,9,17,13,33,153
9,960,11205,15,9,17,16,3,350,15,9,17,15,47,396
10,420,5457,18,9,17,8,53,298,18,9,17,8,46,732
11,1620,3070,18,9,17,17,34,796,18,9,17,17,7,818
12,780,14816,15,9,17,17,38,197,15,9,17,17,25,298
13,960,14558,14,9,17,15,58,154,14,9,17,15,42,298
14,960,5796,15,9,17,9,8,298,15,9,17,8,52,374
15,900,9923,13,9,17,8,32,298,13,9,17,8,17,154
16,480,1916,15,9,17,15,0,186,15,9,17,14,52,201
17,1320,9528,14,9,17,13,14,176,14,9,17,12,52,201
18,720,11403,15,9,17,19,42,201,15,9,17,19,30,224
19,600,482,14,9,17,15,13,201,14,9,17,15,3,176
20,660,13331,19,9,17,14,12,201,19,9,17,14,1,105
21,540,5607,19,9,17,11,9,105,19,9,17,11,0,201
22,480,9642,13,9,17,15,31,194,13,9,17,15,23,156
23,480,12668,13,9,17,15,31,194,13,9,17,15,23,156
24,360,4726,16,9,17,17,55,515,16,9,17,17,49,652
25,420,13350,16,9,17,15,12,652,16,9,17,15,5,515
26,1080,13516,17,9,17,15,32,129,17,9,17,15,14,67
27,540,10647,17,9,17,12,58,703,17,9,17,12,49,645
28,900,2254,19,9,17,8,48,368,19,9,17,8,33,224
29,660,8907,13,9,17,8,42,368,13,9,17,8,31,307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542814,814,8320,8,8,17,0,7,11,7,8,17,23,53,107
1542815,90,4358,7,8,17,23,54,574,7,8,17,23,53,42
1542816,1147,14083,8,8,17,0,13,511,7,8,17,23,54,22
1542817,1729,14961,8,8,17,0,23,615,7,8,17,23,54,727
1542818,1867,5122,8,8,17,0,25,602,7,8,17,23,54,541
1542819,838,5607,8,8,17,0,8,411,7,8,17,23,54,227
1542820,712,6315,8,8,17,0,6,74,7,8,17,23,54,252
1542821,580,13060,8,8,17,0,4,74,7,8,17,23,54,792
1542822,1732,13285,8,8,17,0,24,460,7,8,17,23,55,460
1542823,584,10007,8,8,17,0,5,357,7,8,17,23,55,14
1542824,205,6659,7,8,17,23,58,512,7,8,17,23,55,446
1542825,28,5862,7,8,17,23,55,222,7,8,17,23,55,222
1542826,2986,4524,8,8,17,0,45,373,7,8,17,23,55,248
1542827,1766,4925,8,8,17,0,24,460,7,8,17,23,55,460
1542828,2966,4531,8,8,17,0,45,373,7,8,17,23,56,248
1542829,934,3229,8,8,17,0,11,491,7,8,17,23,56,719
1542830,1512,4623,8,8,17,0,22,792,7,8,17,23,57,347
1542831,1030,5153,8,8,17,0,14,455,7,8,17,23,57,480
1542832,879,1710,8,8,17,0,12,163,7,8,17,23,57,225
1542833,12551,10411,8,8,17,3,26,273,7,8,17,23,57,49
1542834,856,11034,8,8,17,0,11,491,7,8,17,23,57,719
1542835,1138,13746,8,8,17,0,16,504,7,8,17,23,57,480
1542836,406,14670,8,8,17,0,3,815,7,8,17,23,57,229
1542837,1495,13873,8,8,17,0,23,792,7,8,17,23,58,347
1542838,1475,8785,8,8,17,0,23,792,7,8,17,23,58,347
1542839,270,5296,8,8,17,0,2,32,7,8,17,23,58,42
1542840,911,12348,8,8,17,0,13,625,7,8,17,23,58,222
1542841,447,8303,8,8,17,0,7,453,7,8,17,23,59,130
1542842,424,12038,8,8,17,0,6,405,7,8,17,23,59,755
1542843,307,4590,8,8,17,0,4,77,7,8,17,23,59,25

In [62]:
# Merge the date columns into a single column (data clean-up)
from datetime import datetime
dataframe_journeys['Date'] = dataframe_journeys.apply(lambda row: datetime(
                              row['End date'], row['End month'], row['End year']), axis=1)

TypeError: ('integer argument expected, got float', u'occurred at index 0')

In [ ]:
columns_of_interest = ['journey duration', '']
flatui = ["#9b59b6", "#3498db", "#95a5a6", "#e74c3c", "#34495e", "#2ecc71"]
sea.set_palette(flatui)
sea.pairplot(dataframe_journeys)
plt.tight_layout()
plt.show()